/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  .home.image-slider .swiper-slide {
    padding: 36vh 87px 0;
  }
  .navbar .navbar-header {
    margin-top: 17px;
    width: 100%;
  }
  .navbar-brand img {
    margin-top: 14px;
    margin-left: 0;
    height: auto;
  }
  .navbar .navbar-header {
    margin: 0;
    padding: 0;
  }
  .navbar-header .navbar-toggle {
    margin-top: 22px;
  }
  .navbar a.navbar-brand {
    margin-top: 11px;
    margin-bottom: 24px;
  }

  .counter > h2 {
    font-size: 20px;
  }
  .f_logo {
    width: 65%;
  }
  .f_logo img {
    width: 40%;
  }
  .fndus {
    margin-top: 17px;
  }
  .home.image-slider .swiper-slide {
    min-height: 100vh;
  }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-top: 4px;
    margin-bottom: 19px;
  }
  .navbar-toggle {
    top: 15px;
  }
  .navbar-header .navbar-toggle {
    margin-top: 0;
  }
  .banner-box.banner-type-5 .banner-info .heading-bigger {
    font-size: 35px;
  }
  .banner-box .banner-title-1 {
    font-size: 14px;
  }
  .banner-box .banner-inner {
    margin-bottom: 29px;
  }
  .banner-box.banner-type-5 .banner-info .banner-title-4 {
    font-size: 15px;
  }
  .banner-box.banner-type-5 .banner-info .banner-title-5 {
    margin-bottom: 0;
  }
  .banner-box.banner-type-5 .btn.btn-style-1 {
    width: 130px;
  }
  .counter > h2 {
    font-size: 17px;
  }
  .f_logo img {
    width: 100%;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .home.image-slider .swiper-slide {
    padding: 19vh 12vh 0;
  }
  .swiper-wrapper .btn-primary {
    width: auto;
  }
  .product-list-vertical .product-list-right {
    text-align: center;
  }
  .product-list li {
    margin-bottom: 15px;
    text-align: center;
  }

  .countdown-container {
    text-align: center;
  }
  .countdown-container .btn.btn-default.add-item,
  .btn.btn-default.btn-lg,
  span.product-right-section .btn.btn-default.add-item,
  .contact-form button.btn {
    width: auto;
  }
  .countdown-price {
    text-align: center;
  }
  .contact-data {
    float: left;
    width: 50%;
  }
  .info_menu {
    display: block;
    margin: 35px 0;
    padding-left: 15px;
    overflow: hidden;
  }
  .navbar .navbar-header {
    margin-top: 17px;
    width: 15%;
  }
  .f_logo img {
    margin-bottom: 20px;
    width: 65%;
  }
  .navbar .navbar-header {
    margin-top: 17px;
    width: 100%;
  }
  .navbar-brand img {
    margin-top: 14px;
    margin-left: 0;
    height: auto;
  }
  .navbar .navbar-header {
    margin: 0;
    padding: 0;
  }
  .navbar-header .navbar-toggle {
    margin-top: 22px;
  }
  .navbar a.navbar-brand {
    margin-top: 11px;
    margin-bottom: 24px;
  }
  .home.image-slider .swiper-slide {
    padding: 150px 20px;
    padding-bottom: 69px;
    min-height: auto;
  }
  .home {
    min-height: auto;
  }
  .home.image-slider .home-slider {
    min-height: auto;
  }
  .counter > h2 {
    font-size: 20px;
  }
  .f_logo {
    width: 65%;
  }
  .f_logo img {
    width: 40%;
  }
  .fndus {
    margin-top: 17px;
  }
  .navbar-brand img {
    margin-top: 26px;
    margin-left: 0;
    max-height: 35px;
  }
  .banner-box.banner-type-5 .btn.btn-style-1 {
    width: 200px;
  }
  .d_none {
    display: none;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .container {
    width: 300px;
  }
  .navbar-nav li.active > a::after,
  .navbar-nav li.active > a::before,
  .navbar-nav li:hover > a::after,
  .navbar-nav li:hover > a::before {
    opacity: 0;
  }
  .product-list-vertical .product-list-right {
    text-align: center;
  }
  .home.image-slider .swiper-slide {
    padding: 83px 10px;
    text-align: left;
  }
  .home-slider-title-main {
    padding: 0;
    font-size: 20px;
  }
  .swiper-slide h1 {
    font-size: 48px;
  }
  .home.image-slider .swiper-slide {
    padding: 83px 10px;
    text-align: center;
  }
  .home-buttons {
    text-align: center;
  }
  .swiper-wrapper .btn-primary {
    display: inline-block;
    width: 66%;
  }
  .home-buttons a {
    padding: 15px 30px;
  }
  .home.image-slider .swiper-slide {
    padding: 16vh 10px;
    padding-bottom: 92px;
    min-height: auto;
  }
  .home {
    min-height: auto;
  }
  .home.image-slider .home-slider {
    min-height: auto;
  }
  .navbar-nav li > a {
    padding: 12px 10px;
  }
  .banner-area {
    padding-top: 60px;
  }

  .add-area {
    margin-bottom: 20px;
  }
  .effect-add img {
    width: 100%;
  }
  .product-list li {
    margin-bottom: 15px;
    text-align: center;
  }
  .product-list li {
    margin-right: 0;
  }
  .about h4 {
    line-height: 27px;
  }
  .about p {
    max-width: 100%;
  }
  .countdown-container {
    padding: 0 0 30px;
  }
  .countdown-price {
    text-align: center;
  }
  .p-badd .add-area {
    margin: 0;
  }
  .about-counter-single {
    margin-bottom: 0;
    border-bottom: 0 none;
  }
  .navbar-nav li:first-child a {
    border-top: 1px solid #f5f5f5 !important;
  }
  .swiper-wrappers li.swiper-slidess {
    width: 100%;
  }
  .swiper-wrappers li.swiper-slidess .product-list-left {
    margin-bottom: 18px;
  }
  .info_menu {
    display: block;
    margin: 35px 0;
    padding-left: 15px;
    overflow: hidden;
  }

  .navbar a.navbar-brand {
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 0;
    width: 70%;
    height: auto;
    color: #121212;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
  }
  .navbar-header .navbar-toggle {
    margin-top: 3px;
    margin-right: -30px;
    padding-right: 0;
  }
  .navbar .navbar-header {
    margin-top: 0;
    padding-bottom: 10px;
    width: 100%;
  }
  h3,
  .h3 {
    font-size: 20px;
  }
  .about {
    padding: 7px 0 67px;
  }
  .catalog-area {
    padding-top: 19px;
  }
  .section-min.section.product {
    padding-top: 0;
    padding-bottom: 55px;
  }
  .new-products-area {
    margin-top: -30px;
    padding-top: 0;
  }
  .countdown {
    padding-bottom: 22px;
  }
  .modal-body .product-description {
    width: 100%;
  }
  .modal-dialog .section-heading {
    margin-top: 20px;
  }
  .banner-box.banner-type-5 .banner-info .heading-bigger {
    font-size: 35px;
  }
  .banner-box .banner-title-1 {
    font-size: 14px;
  }
  .banner-box .banner-inner {
    margin-bottom: 29px;
  }
  .banner-box.banner-type-5 .banner-info .banner-title-4 {
    font-size: 15px;
  }
  .banner-box.banner-type-5 .banner-info .banner-title-5 {
    margin-bottom: 0;
  }
  .banner-box.banner-type-5 .btn.btn-style-1 {
    width: 130px;
  }
  .section-heading {
    margin: 26px 0 74px;
  }
  .single-category-box .category-content h3 {
    margin: 0;
    font-size: 17px;
  }
  .single-category-box {
    margin-bottom: 64px;
  }
  .product-list-sliderd {
    margin-bottom: 10px;
  }
  .new-products-area .product-list {
    margin-bottom: 0;
  }
  #testimonials.testimonials {
    margin-top: -60px;
    padding: 0 0 52px;
  }
  .about-counter-single {
    border-right: 0 none;
    padding: 35px 0 0;
  }
  section.section-min.nnrr {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .navbar a.navbar-brand {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .navbar-header .navbar-toggle {
    margin-top: 0;
    padding: 0;
  }

  .navbar > .container-header {
    width: 100%;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
  .swiper-slide h1 {
    font-size: 90px;
  }
  .swiper-wrapper .btn-primary {
    width: 40%;
  }
  .product-list-vertical .product-list-right {
    text-align: center;
  }
  .product-list li {
    margin-bottom: 15px;
    text-align: center;
  }
  .countdown-counter li {
    width: 100%;
  }
  .countdown-container {
    text-align: center;
  }
  .countdown-container .btn.btn-default.add-item,
  .btn.btn-default.btn-lg,
  span.product-right-section .btn.btn-default.add-item,
  .contact-form button.btn {
    width: auto;
  }
  .footer-newsletter .form-control {
    height: 48px;
  }
  .swiper-wrappers li.swiper-slidess {
    width: 100%;
  }
  .swiper-wrappers li.swiper-slidess .product-list-left {
    margin-bottom: 18px;
  }
  .f_logo img {
    width: 45%;
  }
  .navbar-brand img {
    max-height: 30px;
  }
}

@media (max-width: 480px) {
  .navbar > .container .navbar-brand {
    margin-top: 0px;
  }
  .navbar-brand img {
    min-height: auto;
    max-height: 20px;
  }
}
@media (max-width: 1199px) {
  #header-cart {
    display: none;
  }

  .bottom-bar {
    opacity: 1;
    pointer-events: all;
    z-index: 99;
  }
}
